{% extends 'login/layout.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="content">
        <div class="title">
            <h1 class="text-color-white font-title">Wellcome to Vcard-G</h1>
            <h3 class="subtitle text-color-white">by Lucas Mariano</h3>
        </div>
        <div class="description">
            <span>Login or register to generate your VCard</span>
        </div>
        <div class="buttons">
            <button class="btn-design">SIGN IN</button>
            <button class="btn-design">SIGN UP</button>
        </div>
    </div>
</div>


{% endblock %}

