body {
    font-family: "Raleway", sans-serif;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

.content{
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #700aff94;
    border-radius: 30px;
    color: white;
}

.title{
    text-align: center;
}

.text-color-white{
    color: white;
}

.font-title{
    font-weight: 600;
}

.subtitle{
    font-weight: 400;
}

.description{
    text-align: center;
    margin-top: 35px;
}

.buttons{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 45px;
}

button.btn-design {
    border: none;
    width: 150px;
    height: 38px;
    background-color: #700aff94;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.forms{
    text-align: center;
}

.forms > form > div > p > input{
    width: 60%;
    border-radius: 5px;
}

.margin-top-btn{
    margin-top: 6px;
}

.display-flex > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.forms > form > input{
    width: 60%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.color-red{
    color: red;
}


